body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-left: 1em !important; }

.navbar .nav-item.active {
  border-left: #fff 3px solid; }

.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url(../img/1.jpg);
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden; }

.carousel-image-2 {
  background: url(../img/c1.png);
  background-size: cover; }

.carousel-image-3 {
  background: url(../img/3.jpg);
  background-size: cover; }

.carousel-image-4 {
  background: url(../img/MaxATP_Box.png);
  background-size: cover;
  background-size: 100% 100%; }

.carousel-image-5 {
  background: url(../img/max357-parallax-1.jpg);
  background-size: cover;
  background-size: 100% 100%; }

.carousel-image-6 {
  background: url(../img/cellgevity-banner-en.jpg);
  background-size: cover; }

.fa {
  font-size: 55px; }

#home-header {
  position: relative;
  min-height: 400px;
  background: url(../img/parallax-3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  background-size: 100% 100%; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#video-play1 {
  position: relative;
  min-height: 400px;
  background: url(../img/1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-play1 a {
    color: #fff; }

#video-play {
  position: relative;
  min-height: 400px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-play a {
    color: #fff; }

#video-plays {
  position: relative;
  min-height: 300px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-plays a {
    color: #fff; }

footer#main-footer {
  color: #fff; }

#page-header {
  height: 400px;
  background: url(../img/opportunity-bottom-banner-2000wide.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  background-size: 150% 150%;
  background-repeat: no-repeat; }

#page-header1 {
  height: 400px;
  background: url(../img/opportunity-bottom-banner-2000wide.jpg);
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  background-size: 150% 150%;
  background-repeat: no-repeat; }

#about img {
  margin-top: -50px; }

#faq .card {
  border: #1f1c1c; }
  #faq .card a {
    color: #fff;
    text-decoration: none; }

#faq .card-header {
  background: #28862d; }

#faq .card-body {
  background: #28862d; }

#home-icon {
  background: lightgray; }

#info {
  background: url(../img/max_hero-image-2.jpg);
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }

#home-section {
  background: url("../img/opportunity-bottom-banner-2000wide.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-section .dark-overlay {
    background-color: rgba(223, 219, 219, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }

#explore-section .fa {
  color: #fff;
  background: #149625;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#max-header {
  position: relative;
  min-height: 400px;
  background: url(../img/max357-parallax-1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }

#max-header2 {
  position: relative;
  min-height: 400px;
  background: url(../img/max357-parallax-3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }

#max-header3 {
  position: relative;
  min-height: 400px;
  background: url(../img/kayak-lady.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }

#max-header4 {
  position: relative;
  min-height: 400px;
  background: url(../img/happy-people.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }

#max-header5 {
  position: relative;
  min-height: 400px;
  background: url(../img/running-guy.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 400px;
  background-size: 100% 100%; }
